header {
    position: relative;
    width: 100%;
    background-color: black;
}
img  {
    padding: 15px;
    position: relative;
    left: 15%;
    top: 9px;
}
nav * {
    position: relative;
    display: inline-block;
    color: #ccc;
    width: 200px;
    left: 30%;
    bottom: 53px;
}
h1 {
    position: absolute;
    width: 417px;
    left: 740px;
    top: 1032px;
    font-size: larger;
}
p  {
    position: relative;
    width: 470px;
    height: 300px;
    overflow: scroll;
    left: 740px;
    bottom: 365px;
}
button {
    position: absolute;
    border-radius: 10px;
    top: 1400px;
    left: 741px;
    width: 130px;
    height: 36px;
    transition-duration: 0.35s;
}
button:hover {
    position: absolute;
    border-radius: 10px;
    top: 1400px;
    left: 741px;
    width: 130px;
    height: 36px;
    background-color: #7a7a7a;
}
div:nth-child(3) {
    height: 450px;
}
footer {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 100px;
}